{% extends "index.html" %}
{% block content %}
      <div class="container">
        <header>
            <h1>About Manoj GK</h1>
        </header>
         <main>
            <p>Welcome to my demo website! This page is for testing purposes, so please feel free to explore and let me know if you find any errors or mistakes.</p>
            <p>If you have any feedback, suggestions, or if you'd like to request new features, please don't hesitate to contact me at <a href="mailto:manojgk0210@gmail.com">manojgk0210@gmail.com</a>.</p>
            <p>Test your knowledge with our exciting quiz! Dive into a world of questions covering various topics and challenge yourself to see how much you know. Whether you're a trivia enthusiast or just looking for some fun, our quiz is sure to keep you engaged.</p>
<p>Don't miss out on the opportunity to test your skills and compete for the top spot on our leaderboard. Take the quiz now and see if you have what it takes to emerge victorious!</p>

         </main>
    </div>
{% endblock content %}
